<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>



    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required minlength="3" maxlength="15" />
        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.required">First Name est requis</div>
            <div *ngIf="firstName.errors.minlength">Minimum 3 caractères l'ami</div>
            <div *ngIf="firstName.errors.maxlength">Maximum 15 caractères l'ami</div>
        </div>
    </div>


    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required minlength="3" maxlength="15" />
        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors.required">Last Name est requis</div>
            <div *ngIf="lastName.errors.minlength">Minimun 3 caractères mon copain</div>
            <div *ngIf="lastName.errors.maxlength">Maximum 15 caractères mon copain</div>


        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email n'est pas valide</div>
        </div>
    </div>

    <button type="submit">Submit</button>


</form>